test1_uart/MDK-ARM/.cmsis
test1_uart/MDK-ARM/.eide
test1_uart/MDK-ARM/.vscode
test1_uart/MDK-ARM/build
test1_uart/MDK-ARM/DebugConfig
test1_uart/MDK-ARM/RTE
test1_uart/MDK-ARM/test1_uart
test1_uart/MDK-ARM/.clang-format
test1_uart/MDK-ARM/.eide.usr.ctx.json
test1_uart/MDK-ARM/EventRecorderStub.scvd
test1_uart/MDK-ARM/JLinkLog.txt
test1_uart/MDK-ARM/JLinkSettings.ini
test1_uart/MDK-ARM/MDK-ARM.code-workspaceus
test1_uart/MDK-ARM/test1_uart.uvguix.23709
test1_uart/MDK-ARM/MDK-ARM.code-workspace